{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": <%= features.emotion && "@emotion/react" %><%= features.preact && '"preact"' %>
        }
      }
    ]
  ]<% if (features.emotion) { %>,
  "plugins": ["@emotion/babel-plugin"]
<% } -%>
}
